<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="index.css" >

</head>
<body>
  
  <div class="login hide-login">
    <form class="login-container hide-form" action="login" method="POST">
       <img src="/images/3135715.png" alt="" />
       <div class="input-container hide-section">
          <label><input type="email" placeholder="Email" name="email" required /></label>
          <label><input type="password" placeholder="Password" name="password" required /></label>
          <label><input class="button" type="submit" value="Log in" /></label>
       </div>
    </form>
 </div>
  <script src="animation.js"></script>
  <script src="validator.js"></script>


</body>
</html>